<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include navbar.html %}
    <div class="content">
      {{ content }}
    </div>
    <script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us12.list-manage.com","uuid":"ed888b12fcf68af4b1f7fe542","lid":"99af037c0d"}) })</script>
    {% include footer.html %}
  </body>
</html>
